<div class="row">
  <a class="pull-left btn btn-text btn-small" (click)="onNewMessageClicked()">✉ New</a>
</div>

<ul class="list-group">
    <li *ngFor="let chat of chatsList" class="list-group-item chat-item" (click)="onChatItemClick(chat)">
        <div class="row">

            <div class="column left">
              <img class="image" src={{chat.photoUrl}} onError="this.src='assets/imageKeeper/gamepad.jpeg'">
            </div>
            
            <div class="column right">

              <div class="row chat-name">
                <h5>{{chat.nickname}}</h5>
              </div>
              
              <div class="row chat-last-message">
                {{chat.lastMessage}}
              </div>
            </div>

        </div>
      </li>
    </ul>
