.chat-list-container {    
    border: 1px solid gainsboro;
    height: 500px;
    min-width: 300px;
}

.image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.chats-list {
    height: 100%;
    display: block;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.chat-item {
    margin: 0px;
}

.chat-item:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}

.row {
    display: flex;
  }

.column {
    float: left;
}

.left {
    width: 25%;
}

.right {
    width: 75%;
}

.chat-name {
    margin: 0px;
    position: top;
    padding-top: 0px;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }