@import "../../constants.scss";

.chat-list-container {    
    border: 1px solid gainsboro;
    height: calc(100vh - #{$top-panel-height} - 50px);
    min-width: 300px;
}

.image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.chats-list {
    height: 100%;
    display: block;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.chat-item {
    margin: 0px;
    border-radius: 0px;
}

.chat-item:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}

.new-message-item {
    margin: 0px;
    background-color: rgb(235, 235, 235);
}

.row {
    display: flex;
  }

.column {
    float: left;
}

.left {
    width: 25%;
}

.right {
    width: 75%;
}

.chat-name {
    position: top;
    padding-top: 0px;

    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 500;
}

.chat-last-message {
    font-size: 14px;
    font-weight: 400;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }