<header class="header" role="banner">
    <img src="assets/imageKeeper/111.ico" class="header-logo">
        <ul class="nav navbar-nav MyNavigate" routerLinkActive="active">
            <li class="nav-item"><a class="my-navigate" routerLink="/myPage">My page</a></li>
            <li class="nav-item"><a class="nav-link my-navigate" >Friends</a></li>
            <li class="nav-item"><a class="nav-link my-navigate" >Chats</a></li>
            <li class="nav-item"><a class="nav-link my-navigate" routerLink="/home">Games</a></li>
        </ul>
</header>

<div>

  <main>
    <div class="col-md-2"></div>

    <div class="col-md-2" id="main-container">
        <mat-card class="example-card">                
  <img mat-card-image src="assets/imageKeeper/robot.png" class="avatar">
  <mat-card-title>{{response.nickname}}</mat-card-title> 
  </mat-card>
  <mat-card-content class="info">
    Name:
  <p class="info-value">
      {{response.name}}
  </p>
  </mat-card-content>
  <mat-card-content class="info">
      E-mail:
    <p class="info-value">
        {{response.email}}
    </p>
    </mat-card-content>
    <mat-card-content class="info">
        Bio:
      <p class="info-value">
          I am just a man from nowhere. I like lorem ipsum and game of thrones
      </p>
      </mat-card-content>
  <button mat-raised-button class="button-edit">Edit profile</button>
    </div>

    <div class="col-md-3"><mat-card class="game-card">
      <mat-card-title>Games</mat-card-title>
      <mat-card-content>
          <mat-action-list class = "game-list">
              <mat-list-item *ngFor="let game of games">
                  <img mat-card-avatar src={{game.logo}}>
                  <h3 matLine> {{game.name}} </h3>
              </mat-list-item>
            </mat-action-list>
      </mat-card-content>
    </mat-card>
  </div>

    <div class="col-md-3">
      <mat-card class="game-card">
        <mat-card-title>Comments</mat-card-title>
        <mat-card-content>
            <mat-list class = "game-list">
                <mat-list-item *ngFor="let comment of comments">
                    <img mat-card-avatar src={{comment.avatar}}>
                    <h3 matLine> {{comment.name}} </h3>
                    <p mat-line> {{comment.comment}} </p>
                </mat-list-item>
              </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-2"></div>

  </main>
</div>

<div class="common-chat" class="col-md-5" (ngSubmit)="sendMessage()" >
    <div class="chat-card">
            <mat-list class = "chat-list" role="list" >
                <mat-list-item role="listitem" *ngFor="let commonMessage of messages" class = "message">
                    <img matListAvatar onError="this.src='assets/imageKeeper/robot.png'" src={{commonMessage.avatar}}>
                  <mat-card class="message-text" >   
                    <div class = "message-header">              
                      <mat-card-title class = "sender">{{commonMessage.name}}</mat-card-title>
                      <mat-card-subtitle class = "date">{{commonMessage.date}}</mat-card-subtitle>
                    </div>    
                      <mat-card-title class = "message-content">

                        {{commonMessage.message}}
                      </mat-card-title>
                      
                  </mat-card>
                </mat-list-item>

              </mat-list>
      </div>
      <div class="new-message">
  <mat-form-field class="input-chat">
    <input matInput type="text" id="message" name="message" [(ngModel)]="message" placeholder="Enter your message..."/>
  </mat-form-field>
    <button mat-icon-button class="button-send" type="text" (click) = "sendMessage()" required>
      <mat-icon>mail_outline</mat-icon>
    </button>
  </div>
</div>
