.header{
    background-color: rgba(86, 88, 92, 100);
    color: hsla(0,0%,100%,.7);
    font-size: 14px;
    line-height: 1.5;
    padding: 5px;   
    align-items: center;
    display: flex;   
}
.header-items{
    align-items: center;
    color: rgba(80, 41, 41, 0.7);
    display: flex;
}
.my-navigate{
    color: hsla(0,0%,100%,.7);
    font-weight: 600;
    font-size: 14px;
}
a:hover, a:focus{
    color: rgba(86, 88, 92, 100);
}
.header-logo{
    align-items: center;
    width: 3%;
    height: 3%;
    margin-left: 20px;
    margin-right: 5px;
}

.example-card {   
    object-fit: cover;
    width: 230px;
    height: 280px;
    margin-top: 30px;
  }

  .game-card {   
    object-fit: cover;
    width: 100%;
    height: 280px;
    margin-top: 30px;
  }

  .message {
      margin-bottom:10px;
      width: auto;
      max-width: 80%;
  }

  .message-text {
     background-color: rgb(250,250,250)
  }

  .chat-card {   
    object-fit: cover;
    height: 250px;
    margin-top: 30px;
  }

  .game-list {
      height: 210px;
      overflow-y: scroll;
  }
  .chat-list{
      height:250px;
      overflow-y: scroll;
      
      }

  .game-item :hover {
      background: rgb(230,230,230);
  }

  .avatar{
    background: rgba(230, 230, 230, 100);
    height: 230px;
  }
.info{
    margin-top: 10px;
    width: 230px;
}

.info-value
{
    font-size: 18px;   
}

.button-edit{
    width: 230px;
}

.common-chat{
    position: absolute;
    object-position: center;
    float: bottom;
    margin-top: 300px;
    padding: 25px;
    width: 1200px;
    margin-top: 30px;
    margin-left: 100px;
}
.input-chat{
    display: unset!important;
    margin-left: 30px;
    width: 100px;
    height: 40px;
}
.button-send{
    height: 50px;
    width: 50px;
    object-position: right;
    margin-left: 600px
}