@import "../../constants.scss";

.top-panel {
	background-color: $top-panel-background-color;
	color: $top-panel-color;
	font-size: 14px;
	line-height: 1.5;
	padding: 0px;
	justify-content: space-between;
	align-items: center;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	box-shadow: 1px 5px 10px  rgba(67, 67, 70, 0.4);
}
.header-items {
	align-items: center;
	color: $top-panel-items-color;
}
.my-navigate {
	color: $top-panel-color;
	font-weight: 500;
	font-size: 14px;
}
a {
	&:hover {
		color: $top-panel-hover-color;
	}
	&:focus {
		color: $top-panel-hover-color;
	}
}
.top-panel-logo {
	align-items: center;
	width: 3%;
	height: 3%;
	margin-left: 2%;
	margin-right: 1%;
}
.top-panel-exit {
	align-items: center;
	position: center;
	width: 2%;
	height: 2%;
	margin-right: 5px;
	cursor: pointer;
}
.top-language-select{
	font-weight: 500;
	margin-left: auto;
	z-index: 100000;
}
::ng-deep .select-option .mat-select-value{
    color: $top-panel-color; 
}
::ng-deep .select-option .mat-select-arrow{
    color: $top-panel-color; 
}


