.uploader {
  width: 100%;
  height: 100%;
  border: 2px dashed #56585C;
  margin: 0;
  padding: 30px;

  [hidden] {
    display: none
  }

  p, h2 {
    text-align: center
  }

  &_content {
    margin: auto auto;

    input {
      background: #56585C;
      color: #fff;
      margin-left: calc(50% - 110px);
      border: none;
      padding: 5px;
      padding-right: 15px;
      padding-left: 15px;
    }

    input:hover {
      background: #48494c
    }
  }
}
