<div class="chats-layout-container">
    
    <div class="chats-list-container">
        <coop-message-panel
        (openModalWindow) = "changeModalWindowVisibility($event)"
        ></coop-message-panel>

        <coop-chats-list
        [currentSessionUserId]="currentSessionUserId"
        [chatsList] = "chatsList"
        (loadChat)="loadChat($event)"
        ></coop-chats-list>
    </div>

    <div class="chat-box-container">
        
        <coop-chat-box
        [chat]="currentChat"
        [currentSessionUserId]="currentSessionUserId"
        (sendMessage)="sendMessage($event)"
        ></coop-chat-box>
    </div>

    
</div>

<div class="backdrop" [style.display]="modalWindowVisibility?'block':'none'"></div>
<div>
    <coop-chat-modal-window 
    [visibility]="modalWindowVisibility"
    (closeModalWindow)="changeModalWindowVisibility($event)"
    (createChat)="createChat($event)"
    ></coop-chat-modal-window>
</div>

