<div class="chats-layout-container">
    
    <div class="chats-list-container">
        <coop-message-panel
        (openNewMessageBlock)="openNewMessageBlock($event)"
        ></coop-message-panel>
        
        <coop-chats-list
        [currentSessionUserId]="currentSessionUserId"
        [chatsList] = "chatsList"
        [newMessageBlockOpened] = "newMessageBlockOpened"
        (loadChat)="loadChat($event)"
        (closeNewMessageBlock)="closeNewMessageBlock($event)"
        ></coop-chats-list>
    </div>

    <div class="chat-box-container">
        
        <coop-chat-box
        [chat]="currentChat"
        [visibility] = "modalWindowVisibility"
        [currentSessionUserId]="currentSessionUserId"
        [newMessageBlockOpened] = "newMessageBlockOpened"
        (sendMessage)="sendMessage($event)"
        (createChat)="createChat($event)"
        ></coop-chat-box>
    </div>

    
</div>
