<h1 align="center">All games</h1>

<div class="list-group games-list">
    <div *ngFor="let game of games" class="list-group-item">
        <div class="row">

          <div class="col col-md-2 image-col">
            <img class="game-image" src={{game.PhotoURL}} onerror="this.src='assets/imageKeeper/gamepad.jpeg'">
            </div>
            
            <div class="col col-md-8">
                <h2 class="mb-3 pb-3">{{game.name}}</h2>
            </div>

            <div class="col col-md-2 actions-col">
                <button class="myButton" (click)="openGame(game)" type="button">Play</button>
            </div>

        </div> 
    </div>
  </div>
