@import url('https://fonts.googleapis.com/css?family=Roboto:900');
  
  h1 {
    font-family: 'Roboto', sans-serif;
    color: #646464;
    margin-top: 20px;
    margin-left: 20px;
  }

  h2 {    
    font-family: 'Roboto', sans-serif;
    color: #646464;
    margin-top: 30px;
    margin-left: 40px;
  }

  
  .games-list {
    padding: 40px 200px
  }

  .game-image {
    width: 200px;
    height: 200px;
  }
  
  .image-col {
    text-align:center;
  }

  .text-col {
    text-align: center;
  }
  
  .actions-col {
    text-align: center;
    margin: auto 0px;
  }
  
  .myButton {
    margin-top: 70px;
    box-shadow:inset 0px 0px 0px 0px #ffffff;
    background-color:#ffffff;
    border:1px solid #cecece;
    display: inline-block;
    cursor:pointer;
    color:#858585;
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    font-weight:bold;
    padding:15px 20px;
    text-decoration:none;
    width: 10rem;
  }
  .myButton:hover {
    background-color:#858585;
    border-color: #e0e0e0;
    color: white;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }
  
  