<div align="center">

  <form [formGroup]="registrationForm" class="coop-form personal-data-form" autocomplete="off" (submit)="onSignUpClicked()">
    
    <div class="header-text">Sign Up</div>
    
    <mat-form-field class="mat-form-field">
      <input matInput placeholder="Enter your email" formControlName="Email" [(ngModel)]="Nickname" type = "email"/>
    </mat-form-field>
    <mat-error *ngIf="registrationForm.controls.Email.invalid">
      {{getEmailErrorMessage()}}
    </mat-error>

    <mat-form-field class="mat-form-field">
      <input matInput placeholder="Enter your nickname" formControlName="Nickname" [(ngModel)]="nick" type = "text"/>
    </mat-form-field>
    <mat-error *ngIf="registrationForm.controls.Nickname.invalid">
      {{getNicknameErrorMessage()}}
    </mat-error>
    
    <div formGroupName="Passwords">
      <mat-form-field class="mat-form-field">
          <input matInput placeholder="Enter your password" formControlName="Password" [(ngModel)]="password" type = "password"/>
      </mat-form-field>
      <mat-error *ngIf="registrationForm.controls.Passwords.controls.Password.invalid">
        {{getPasswordErrorMessage()}}
      </mat-error>

      <mat-form-field class="mat-form-field">
          <input matInput placeholder="Repeat your password" formControlName="ConfirmPassword" [(ngModel)]="reppassword" type = "password"/>
      </mat-form-field> 
      <mat-error *ngIf="registrationForm.controls.Passwords.controls.ConfirmPassword.invalid">
        {{getConfirmPasswordErrorMessage()}}
      </mat-error>
      </div>
  
  <button class = "sign-up-button" type="submit" [disabled]="!registrationForm.valid">Sign up</button>
  
  <div class="text-help">
    <p>
      also you can <a routerLink="../login" routerLinkActive="active">Sign in</a>
      <br>or sign up by:
    </p>
  </div>
  
  <div class="socials-container">
    <img src="assets/imageKeeper/google-icon.png" class="social-icon" (click)="onSocialSignInClicked(SocialNetwork.Google)" />
    <img src="assets/imageKeeper/facebook-icon.png" class="social-icon" (click)="onSocialSignInClicked(SocialNetwork.Facebook)" />
  </div>

</form>

  

</div>
