.avatar-card {   
    object-fit: cover;
    width: 230px;
    height: 280px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

.avatar-img {
    background: rgba(230, 230, 230, 100);
    height: 230px;
}