.avatar-card {   
    object-fit: cover;
    width: 230px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    word-wrap: break-word;
  }

.avatar-img {
    background: rgba(230, 230, 230, 100);
    height: 230px;
}
