        <h1 class = "headText">Sign In</h1>
        <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
          <div class="personalDataForm">
              <mat-form-field>
                <input matInput type="email" id="username" name="username" placeholder="Enter your email"  type = "email" />
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="Enter your password"   type="password" id="password" name="password"   />
              </mat-form-field>
            </div>
          <br/>
          <button class = "signUpButton" type="submit" routerLink="/home" >Sign in</button>
          <div class = "textHelp">
            <p>also you can <a routerLink="/signUp" routerLinkActive="active" class="hyperText">Sign up</a>
            <br>or sign in by:</p>
          </div>
            <div class = "socialsContainer">
              <img src = "assets/imageKeeper/google-icon.png" class="socialIcon"/>
              <img src = "assets/imageKeeper/facebook-icon.png" class="socialIcon"/>
            </div>
    
    