<div class="game-list-items">
    <div class="game-list-items__game-list-item-container">
        <div class = "game-list-items__game-list-item" routerLink="{{game.link | gameLink}}">
            <img matListAvatar onError="this.src='assets/imageKeeper/robot.png'" src={{game.logoURL}}/>         
            <span class = "game-list-items__game-list-item-attr"> {{game.name}} </span> 
            <span class = "game-list-items__game-list-item-attr"> {{'GAMES.GENRES.' + game.genre | translate}} </span>  
            <span class = "game-list-items__game-list-item-attr"> {{game.description}} </span>  
        </div>      
        <mat-divider></mat-divider>  
    </div>
</div>