.game-item-container {
    width: 100%;
}

.game-item {
    width: 85%;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.game-item-attr {
    flex:1;
    text-align: center;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}