.button--colors {
    background: gray;
    color: #fff;
  }

  .button--sizes {
    align-self: center;
    width: 200px;
    padding: 16px;
    border-radius: 4px;
  }

  .button--margin {
    margin: 32px 16px 8px 16px;
  }

  .button--font {
    font-family: 'Comic Sans Ms';
    font-size: 18px;
  }