.text {
    text-align: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.game-load-error {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.image {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}