.centralContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  height: auto;
  margin: 0;
}

.headContainer {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

.leftContainer {
  background-color: rgba(86, 88, 92, 100);
  min-height: 100vh;
  height: auto;
}
