.header{
    background-color: rgba(86, 88, 92, 100);
    color: hsla(0,0%,100%,.7);
    font-size: 14px;
    line-height: 1.5;
    padding: 5px;   
    align-items: center;
    display: flex;   
}
.header-items{
    align-items: center;
    color: rgba(80, 41, 41, 0.7);
    display: flex;
}
.my-navigate{
    color: hsla(0,0%,100%,.7);
    font-weight: 600;
    font-size: 14px;
}
a:hover, a:focus{
    color: rgba(86, 88, 92, 100);
}
.header-logo{
    align-items: center;
    width: 3%;
    height: 3%;
    margin-left: 20px;
    margin-right: 5px;
}

.header-exit {
  align-items: center;
  position: center;
  width: 2%;
  height: 2%;
  margin-left: 1090px;
  margin-right: 0px;
  cursor: pointer;
}

.example-card {   
    object-fit: cover;
    width: 230px;
    height: 280px;
    margin-top: 30px;
  }

  .game-card {   
    object-fit: cover;
    width: 100%;
    height: 280px;
    margin-top: 30px;
  }

  .message {
      width: auto;
      height:auto!important;
      margin-bottom: 10px;
      max-width: 80%;
  }

  .date {
      flex: 1;
      margin-right: 5px;
      margin-top: 4px!important;
      margin-left: 5px;
      text-align: end!important;
      align-self: flex-end;
      white-space: nowrap;
  }

  .message-header{
        display: flex;
        flex-direction: row;
        orientation: landscape;
        
  }

  .message-text {
    padding: 5px!important;
    background-color: rgb(250,250,250)
  }

  .chat-card {   
    object-fit: cover;
    height: 250px;
    margin-top: 30px;
  }

  .game-list {
      height: 210px;
      overflow-y: scroll;
  }
  .chat-list{
      height:250px;
      overflow-y: scroll;
      padding:10px!important;
      }

  .game-item :hover {
      background: rgb(230,230,230);
  }

  .avatar{
    background: rgba(230, 230, 230, 100);
    height: 230px;
  }
.info{
    margin-top: 10px;
    width: 230px;
}

.info-value
{
    font-size: 18px;   
}

.sender {
    display: flex;
    align-self: flex-start;
    font-size: 18px;
    flex: 2;
}

.message-content {
    font-size:16px;
    text-decoration: none!important;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.button-edit{
    width: 230px;
}

.common-chat{
    position: absolute;
    object-position: center;
    float: bottom;
    margin-top: 300px;
    padding: 25px;
    width: 1200px;
    margin-top: 30px;
    margin-left: 100px;
}
.input-chat{
    flex: 8;
    margin-left: 20px;
    width: 80%;
    height: 100px;
}
.button-send{
    flex: 1;
}
.layout-topbar {
    height: 55px;
    background-color: black;
    padding: 16px 42px 16px 24px;
    width: 100%;
    -moz-transition: width 0.3s;
    -o-transition: width 0.3s;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0          rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .main-content{
    margin-top: 15px;
  }
.new-message{
    display: flex;
    flex-direction: row;
}
 