<div>
  <main>
      <div class="col-md-1"></div>

      <div class="col-md-2" id="main-container">
          <coop-foreign-profile
          [profile] = "profile"
          ></coop-foreign-profile>

          <div *ngIf="this.isSessionProfile" (click)="this.isButtonVisible = true">
              <button mat-raised-button class="button-edit">Edit profile</button>
          </div>

      </div>

      <div class="col-md-5">
          <coop-user-interaction-list
          [friends] = "friends"
          [subscribers] = "subscribers"
          [subscriptions] = "subscriptions"
          [friendsAmount] = "friendsAmount"
          [subscribersAmount] = "subscribersAmount"
          [subscriptionsAmount] = "subscriptionsAmount" 
          (userChosen) = "goToProfile($event)"
          ></coop-user-interaction-list>
      </div>
        
      <div class="col-md-3">
        <coop-games-list
        [games]="games"
        ></coop-games-list>
            
      </div>

      <div class="col-md-1"></div>
  </main>
</div>
