<div>
  <main>
      <div class="col-md-1"></div>

      <div class="col-md-2" id="main-container">
          
          <coop-my-profile
          *ngIf = "isSessionProfile"
          [profile] = "profile"
          (userUpdated) = "updateSessionUserInfo($event)"
          ></coop-my-profile>

          <coop-foreign-profile
          *ngIf = "!isSessionProfile"
          [profile] = "profile"
          ></coop-foreign-profile>

      </div>

      <div class="col-md-5">
          <coop-user-interaction-list
          [friends] = "friends"
          [subscribers] = "subscribers"
          [subscriptions] = "subscriptions"
          [friendsAmount] = "friendsAmount"
          [subscribersAmount] = "subscribersAmount"
          [subscriptionsAmount] = "subscriptionsAmount" 
          (userChosen) = "goToProfile($event)"
          ></coop-user-interaction-list>
      </div>
        
      <div class="col-md-3">
        <coop-games-list
        [games]="games"
        ></coop-games-list>
            
      </div>

      <div class="col-md-1"></div>
  </main>
</div>
