.center {
    padding: 150px;
    text-align: center;
  }

.image {
    height: 400px;
    width: 400px;
}

.text {
    color: rgb(100, 99, 99);
    font-size: 40px;
}

.row {
    display: flex;
  }

.link-text {
    cursor: pointer;
    font-size: 20px;
}
