<div class="chat-box-container">
  <div class="nick-entering-container" *ngIf="newMessageBlockOpened">
    <div class="nick-input-container">
      Receiver: 
      <input matInput type="text" id="nickname" placeholder="Enter user's nickname" class="input"/>
    </div>
    <div class="empty-block">
        <mat-error *ngIf="emptyMessageFieldError">{{emptyMessageErrorContent}}</mat-error>
        <mat-error *ngIf="emptyNicknameFieldError">{{emptyNicknameErrorContent}}</mat-error>
        <mat-error *ngIf="userNotFoundError">{{userNotFoundErrorContent}}</mat-error>
    </div>
  </div>

  
  <div class="companion-panel" *ngIf="!newMessageBlockOpened && chat">
      <div>
          <img src={{get()}} onError="this.src='assets/imageKeeper/robot.png'"  class="companion-image">
      </div>

      <div class="companion-name">
        <span>{{getCompanionName()}}</span>
      </div>
    </div>

  <div class="messages-list-container" *ngIf="!newMessageBlockOpened">

    
    

    <mat-list id="chatList" class = "chat-list" *ngIf="chat">
      <mat-list-item role="listitem" *ngFor="let message of chat.messages" class = "message">
        
        <div class="message-avatar-container">
          <img matListAvatar onError="this.src='assets/imageKeeper/robot.png'" src={{getSenderAvatar(message)}} class="message-avatar">
        </div>

        <mat-card class="message-text" >   
          <div class = "message-header">
            <mat-card-title class = "sender"><b>{{getSenderNickname(message)}}</b></mat-card-title>

            <mat-card-title class="message-date">{{getMessageDate(message)}}</mat-card-title>
          </div>    
          
          <mat-card-title class = "message-content">
            {{message.content}}
          </mat-card-title>
                {{dike}}
        </mat-card>

      </mat-list-item>

    </mat-list>
  </div>
  
    <div class="new-message-container">

      <div class="input-container">
        <textarea id='box' #box placeholder="Enter your message..."
        class="text-area" (keyup.enter)="createMessage(box.value)"></textarea>
      </div>

      <div class="send-button-container">
        <button class="send-button" mat-icon-button type="text" (click) = "createMessage(box.value)" required>
          SEND
        </button>
      </div>

    </div>

</div>
