<div align="center">

  <form class="coop-form personal-data-form" #resetPasswordForm="ngForm" (ngSubmit)="onForgotPasswordClicked(resetPasswordForm)">

    <div class="div--color div--positioning div--font">Reset Password</div>

    <mat-form-field class="mat-form-field">
      <input matInput type="email" [(ngModel)]="email" name="email" placeholder="Enter your email" />
    </mat-form-field>

    <mat-error *ngIf="failedLogin">{{failedLoginMessage}}</mat-error>
    
    <button class="button--colors button--sizes button--font button--margin" type="submit">Reset</button>

  </form>

</div>

