<h1 class="head-text">Sign In</h1>

<form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">


<div class="personal-data-form">

  <mat-form-field>
    <input matInput type="email" [(ngModel)]="username" name="Username" placeholder="Enter your nickname" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Enter your password" type="password" [(ngModel)]="password" name="Password" />
  </mat-form-field>
  <label class="text-danger" *ngIf="invalidLogin">Invalid username or password.</label>
</div>
<br/>
<button class="sign-in-button" type="submit">Sign in</button>
</form>


<div class="text-help">
  <p>
    also you can <a [routerLink]="[{outlets: {sub: 'signUp'}}]" routerLinkActive="active" class="hyper-text">Sign up</a>
    <br>or sign in by:
  </p>
</div>

<div class="socials-container">
  <img src="assets/imageKeeper/google-icon.png" class="social-icon" (click)="socialSignIn('google')" />
  <img src="assets/imageKeeper/facebook-icon.png" class="social-icon" (click)="socialSignIn('facebook')" />
</div>
