@import "../../constants.scss";

.select-mat-icon{
    margin: 5px;
}
.all-items-float{
    width: 135px;
    display: flex;
    align-items: center;
    z-index: 10000;
}

 .select-option {
    color:grey;  
}

.select-option .mat-select-value span {
    color: grey; 
}



