<div>

  <mat-card-content class="info-card">
    
    <div *ngIf="!editMode">
      <h5>{{'PROFILE.NAME'|translate}}:</h5>
      <p class="card-field" >{{profile.name}} </p>
    </div>

    <p *ngIf="editMode">
      <mat-form-field class="input-field">
        <input matInput class="card-field" value ="{{profile.name}}" id="name" placeholder="{{'PROFILE.NAME'|translate}}"/>
      </mat-form-field>
    </p>

  </mat-card-content>

  <mat-card-content class="info-card"> 
    <div *ngIf="!editMode">
      <h5>{{'PROFILE.EMAIL'|translate}}:</h5>
      <p class="card-field" >{{profile.email}}</p>
    </div>

    <p *ngIf="editMode">
      <mat-form-field class="input-field">
        <input matInput class="card-field" value ="{{profile.email}}" id="email" placeholder="{{'PROFILE.EMAIL'|translate}}"/>
      </mat-form-field>
    </p>

  </mat-card-content>

  <mat-card-content class="info-card">
    <div *ngIf="!editMode">
      <h5>{{'PROFILE.BIO'|translate}}:</h5>
    <p class="card-field" *ngIf="!editMode">{{profile.description}}</p>
    </div>

    <p *ngIf="editMode">
      <mat-form-field class="input-field">
        <textarea matInput class="card-field" value ="{{profile.description}}" id="description" placeholder="{{'PROFILE.BIO'|translate}}"></textarea>
      </mat-form-field>
    </p>

  </mat-card-content>

  <div *ngIf="!editMode" (click)="onEditButtonClicked()">
      <button mat-raised-button class="my-button">{{'PROFILE.EDIT-BUTTON'|translate}}</button>
  </div>

  <div *ngIf="editMode" (click)="onSaveButtonClicked()">
      <button mat-raised-button class="my-button">{{'PROFILE.SAVE-BUTTON'|translate}}</button>
  </div>
</div>