<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="MyAssembly"/>
  </extensions>
  <variable name='test' value='debug'/>
  <targets>
    <target name="fileForLogs" xsi:type="File" fileName="CopperLogs.txt"/>
  </targets>
  <rules>
    <logger name="CooperLoger" minLevel="Debug" appendTo="fileForLogs"/>
  </rules>
</nlog>
  </configuration>