<div align="center">

  <form class="coop-form personal-data-form" [formGroup]="passwordConfirmationForm" (ngSubmit)="onConfirmPasswordClicked()">

    <div class="div-color div-positioning div-font">Confirm New Password</div>

    <div formGroupName="Passwords">
      <mat-form-field class="mat-form-field">
        <input matInput placeholder="Enter your password" formControlName="Password" type="password" />
      </mat-form-field>
      <mat-error *ngIf="passwordConfirmationForm.controls.Passwords.controls.Password.invalid">
        {{getPasswordErrorMessage()}}
      </mat-error>

      <mat-form-field class="mat-form-field">
        <input matInput placeholder="Repeat your password" formControlName="ConfirmPassword" type="password" />
      </mat-form-field>
      <mat-error *ngIf="passwordConfirmationForm.controls.Passwords.controls.ConfirmPassword.invalid">
        {{getConfirmPasswordErrorMessage()}}
      </mat-error>
    </div>

    <button class="button-colors button-sizes button-font button-margin" type="submit">Confirm</button>

  </form>

</div>
