<div>

  <mat-card-content class="info-card">
    <h5>Name:</h5>
      <p class="card-field" >{{profile.name}} </p>
  </mat-card-content>

  <mat-card-content  class="info-card"> 
    <h5>E-mail:</h5>
    <p class="card-field">{{profile.email}}</p>
  </mat-card-content>

  <mat-card-content class="info-card">
    <h5>Bio:</h5>
    <p class="card-field">{{profile.description}}</p>
  </mat-card-content>

  <div *ngIf="isSubscription" (click)="onUnsubscribeButtonClicked()">
    <button mat-raised-button class="my-button">Unsubscribe</button>
  </div>
  
  <div *ngIf="!isSubscription" (click)="onSubscribeButtonClicked()">
    <button mat-raised-button class="my-button">Subscribe</button>
  </div>
</div>
