.game-card{
    &__card {
        width: 100%;
        height: 350px;
        text-overflow: ellipsis; 
        overflow: hidden; 
        margin-bottom: 0;
    }

    &__game-image {
        object-fit: cover;
        max-height: 200px;
    }

    &__game-card :hover {
        cursor: pointer;
    }

    &__game-item-attr {
        text-overflow: ellipsis; 
        overflow: hidden; 
        white-space: nowrap;
    }
}