<div class = "row headContainer">
    
    <div class = "col-md-4 col-xs-12 leftContainer ">
        <coop-poster></coop-poster>
    </div>

    <div class = "col-md-8 col-xs-12">     
      <div class = "row headContainer">
        <div class = "col-md-2"></div>
          <div class = "col-md-8 centralContentContainer">
            <div>
                <coop-confirm-password-form
                [errorMessage]="errorMessage"
                (resetPassword)="resetPassword($event)"
                (displayError)="displayError($event)"
                ></coop-confirm-password-form>
            </div>
          </div>
          <div class = "col-md-2"></div>
        </div>
    </div>

  </div>
